* {
    background-color: thistle;

}
body{
    display: flex;
    justify-content: center;
    
}
.container {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    padding: 10px;
    background-color:black;
    height: 500px;
    width: 500px;
}

.square{    
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
    background-color: white;    
}
.filled{
    background-color:gray;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    flex: 1 1 auto;
    
}